html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

body::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.7),
    rgb(0, 0, 0, 0.8)
  );
  z-index: -1;
}
.todos-list {
  padding: 20px;
  max-width: 1080px;
  min-height: 500px;
  border-radius: 24px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(248, 248, 248, 1);
}
.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.input-field {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 32px;
  border: none;
  font-size: 12px;
  background-color: rgba(241, 241, 241, 1);
  color: rgba(153, 153, 153, 1);
}
.add-button {
  padding: 16px;
  border-radius: 32px;
  border: none;
  background: rgba(109, 76, 254, 1);
  color: #fff;
  cursor: pointer;
}
.title {
  font-size: 26px;
  color: #444;
  font-weight: 400;
  text-align: left;
}

.empty {
  color: rgb(46, 46, 46);
}

.ul-todo {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.todo-item {
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: #000;
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 32px;
}

.todo-text {
  position: absolute;
  left: 75px;
}
.button-container {
  display: flex;
  border-radius: 32px;
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
  background-color: rgba(195, 243, 239, 1);
  height: 16px;
}

.delete-button {
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.edit-button {
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.save-button {
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.category-tag {
  color: #444444;
  font-size: 12px;
  position: absolute;
  left: 0;
}

.category-button {
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
.side-buttons:hover {
  padding: 2px;
  border-radius: 4px;
}
.menu {
  background-color: #d8d8d8;
  padding: 10px 15px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.menu-p {
  color: #444444;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
  padding: 4px;
  border-radius: 4px;
}

.menu-p:hover {
  background-color: #444444;
  color: #fff;
}

.filter-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: wrap;
  margin-bottom: 15px;
}

.filter-container > button {
  border: none;
  background-color: transparent;
  color: #444444;
  border-radius: 4px;
  padding: 5px;
}

.filter-container > button:hover {
  background-color: #444444;
  color: #fff;
}

.undo-container {
  background: #444;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 8px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.undo-container button {
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  color: rgb(226, 106, 106);
  font-size: 14px;
}

@media (max-width: 900px) {
  .title {
    text-align: center;
  }
  .filter-container {
    display: flex;
    justify-content: space-between;
  }
  .todo-text {
    font-size: 12px;
    max-width: 105px;
  }
  .category-tag {
    font-size: 10px;
  }
  .button-container {
    padding: 5px;
  }
  .add-button {
    padding: 10px;
  }
  .filter-container > button {
    font-size: 12px;
  }
}
